@import "tailwindcss";
@plugin "daisyui";

/* global.css */
.my-btn {
  background: #ff6600 !important;
  border: none !important;
  color: white !important;
}

.my-btn:hover {
  background: #cc5200 !important;
}

/* global.css */
.p-inputColor {
    color: #cc5200;
}


.p-inputtext {
    
  border: none !important;
  box-shadow: none !important;
}

.background {
  background: rgba(52, 50, 50, 0.7); 
  backdrop-filter: blur(10px); 
}


#smooth-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}

#smooth-content {
  overflow: visible;
  width: 100%;
  min-height: 100vh;
}